<footer class="footer">
    <h1 style="color:white; align:left; text-decoration:underline; margin-top:-20px;">Contact Us:</h1>
    <div class="container">
        <form action="https://formspree.io/1616510121@kit.ac.in" method="POST">
            <div class="form-group">
                <label for="user-name">Name:</label>
                <input type="text" class="form-control" id="user-name" placeholder="Enter Name" name="name">
            </div>
            <div class="form-group">
                <label for="mail">Email:</label>
                <input type="email" class="form-control" id="mail" placeholder="Enter Email" name="_replyto">
            </div>
        <div class="form-group">
          <label for="comment">Message:</label>
            <textarea class="form-control" rows="5" id="comment" placeholder="Message .." name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form> 
    </div>
    <!-- <p>&copy; {{site.username}}</p> -->
    <p>Build with <span class="love"> ❤ </span> by CyberSrishti </p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{site.baseurl}}assets/js/sweet-scroll.min.js"></script>
<script src="{{site.baseurl}}assets/js/main.js"></script>
{% include google-analytics.html %}
