<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right" style = "margin-top:40px;">
    <img alt="rojgaar jasoos" src="{{site.baseurl}}assets/img/rozgaar.png" />
  </div>
  <div class="contents" style = "margin-top:-20px;">
    <h3> Rozgaar Jasoos </h3>
    <ul>
      <li> HTML, CSS, Bootstrap, JS </li>
    </ul>
    <p>This website is created to give the details regarding current notifications related to their career for e.g; online entrance exam, study material, exam results etc;. Primarily it has been created to provide a platform as “All in One”.</p>
    <a class="project-link" href="https://rojgarjasoos.com/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="snake game" src="{{site.baseurl}}assets/img/snake.png" />
  </div>
  <div class="contents-right">
    <h3> OpenCV Snake Game </h3>
    <ul>
      <li> Python, Computer Vision</li>
    </ul>
    <p>The OpenCV techniques used are Color Detection, Contour Detection, Drawing, placing png over image and checking for intersection of line segments. Check out the code here - https://github.com/techytushar/opencv-snake-game .</p>
    <a class="project-link" href="https://youtu.be/-FHoeaCrD7E" target="_blank">Check it out</a>
  </div>
</div>
